@if(wishlistDetails.length > 0) {
<section class="bg-gray-50 rounded border shadow p-4 w-3/4 mx-auto my-10">
  <h1 class="text-3xl text-gray-700 p-10">My Wishlist</h1>
  <div class="flex justify-between items-center"></div>
  @for (wish of wishlistDetails; track wish._id) {
  <div class="grid md:grid-cols-[10%_minmax(0,1fr)] mt-5 border-b">
    <!-- image -->
    <div>
      <img
        class="w-full h-[90px] object-contain"
        [src]="wish.imageCover"
        [alt]="wish.title"
      />
    </div>

    <!-- info -->
    <div class="flex justify-between items-center mb-5">
      <div>
        <h3>{{ wish.title }}</h3>
        <h4 class="text-green-600">
          price:{{ wish.price | currency : "GBP" }}
        </h4>
      </div>
      <div>
        <button
          (click)="deleteFromWishlist(wish.id)"
          class="border text-red-600 border-red-600 rounded p-1 mt-2"
        >
          <i
            class="fas fa-trash-can text-red-600 transition-colors duration-500"
          ></i>
          Remove
        </button>
      </div>
    </div>
  </div>
  }
</section>

} @else {
<h1 class="pt-20 text-xl text-center text-gray-700">
  Nothing in your Wishlist
</h1>
}
