<footer class="bg-gray-100 p-8">
  <h1 class="text-2xl font-medium">Get The FreshCart app</h1>
  <p class="text-gray-600 leading-10">
    We will send you a link, open it on your phone to download the app
  </p>
  <div class="submit">
    <input
      class="shadow rounded border-gray-50 w-[50%] py-1 px-2 text-gray-500"
      id="email"
      type="email"
      placeholder="Email"
    />
    <button id="footer-btn" type="submit" class="btn-main">Share</button>
  </div>
  <div class="pay-details flex justify-between items-center mt-3">
    <div class="flex items-center gap-2 payment">
      <h3 class="h6 m-0">Payment partners</h3>
      <img src="/images/amazon-pay.png" width="80px" alt="amazon-pay" />
      <img
        src="/images/American-Express-Color.png"
        width="80px"
        alt="American-Express"
      />
      <img src="/images/paypal.png" width="80px" alt="paypal" />
      <img src="/images/mastercard.webp" width="50px" alt="mastercard" />
    </div>

    <div class="flex items-center gap-2 google-store">
      <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
      <img
        src="/images/get-google-play.png"
        width="100px"
        alt="get-google-play"
      />
      <img
        src="/images/get-apple-store.png"
        width="100px"
        alt="get-apple-store"
      />
    </div>
  </div>
</footer>
