@media (max-width: 803px) {
  .submit {
    display: flex;
     }
}
@media (max-width: 1147px) {
   footer , .pay-details {
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    .payment , .google-store {
      flex-direction: column;
    }
   }
   #email {
    width: 100%;
   }
   .submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
}
